@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/fonts/GeneralSans/GeneralSans-Medium.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'GeneralSans-Bold';
    src: url('../assets/fonts/GeneralSans/GeneralSans-Semibold.otf') format("opentype");
    font-weight: bold;
    
}

@font-face {
    font-family: 'Gambetta';
    src: url('../assets/fonts/Gambetta/Gambetta-Regular.otf') format("opentype");
    
}

:root {
    --animate-delay: 0.2s;
  }


input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    border: none;
    outline: none;
    /* You can adjust the color and thickness of the outline */
}

